// Archive page
#cfa_events{
    h3.head3 {
        padding: 20px 0px;
        font-size: 28px;
    }
    .latest_events {
        margin-bottom: 50px;
    }
    .previous_events{
        .years_filter{    
            margin-bottom: 50px;
            .years_btns {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                gap: 10px;
                span.yrbtn {
                    padding: 5px 20px;
                    border-radius: 2px;
                    background: var(--cfa_static_color);
                    color: var(--cfa_static_text_color);
                    font-size: 16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    display: inline-block;
                }
                span.yrbtn.cfaActive {
                    background-color: var(--cfa_selected_color) !important;
                    color: var(--cfa_selected_text_color) !important;
                }
                span.yrbtn:hover {
                    transition: 500ms;
                    opacity: .5;
                    -webkit-transition: 500ms;
                    -moz-transition: 500ms;
                    -ms-transition: 500ms;
                    -o-transition: 500ms;
                }
            }
        }

        .loadmore_box {
            padding: 50px 0px;
            text-align: center;
            button.loadmore_events{
                all: unset;
                background-color: var(--cfa_static_color);
                border-radius: 0;
                color: var(--cfa_static_text_color);
                padding: 10px 20px;
                text-decoration: none;
                font-style: normal;
                border: none;
                cursor: pointer;
            }
            button.loadmore_events:hover{
                transition: .3s;
                opacity: .5;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
            }
        }
    }

    .cfaLoader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        z-index: 9999;
    }
}

.events_wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    .event_card {
        background: #fff;
        -webkit-box-shadow: 1px 1px 4px -1px black;
        box-shadow: 1px 1px 4px -1px black;
        height: -webkit-auto;
        height: -moz-auto;
        height: auto;
        position: relative;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(33% - 11px);
        @media only screen and (max-width: 768px) {
            width: calc(50% - 11px);
        }
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
        .event_thumbnail {    
            display: flex;
            max-height: 250px !important;
            overflow: hidden;
            img {
                min-width: 100%;
                aspect-ratio: 4 / 3;
            }
        }
       
        .event_contents {
            padding: 30px;
            margin-bottom: auto;
            h4.event__title {
                font-weight: var(--cfa_card_title_font_weight);
                font-size: var(--cfa_card_title_font_size);
                line-height: 22px;
                padding-bottom: 5px;
                color: var(--cfa_title_color);
            }
            p.event__date {
                font-size: var(--cfa_date_font_size);
                font-weight: var(--cfa_date_font_weight);
                color: var(--cfa_date_color);
                margin-bottom: 15px;
                padding: 0;
            }
            p.event_excerpt {
                margin: 0;
                font-size: var(--cfa_content_font_size);
                line-height: 22px;
                color: var(--cfa_content_text_color);
                font-weight: var(--cfa_content_font_weight);
            }
        }
        .seemore_btn_box {
            padding: 0 30px 30px;
            text-align: center;
            a.cfa_btn {
                background-color: var(--cfa_static_color);
                border-radius: 0;
                color: var(--cfa_static_text_color);
                padding: 10px 20px;
                text-decoration: none;
                font-style: normal;
                font-size: 14px;
            }
            a.cfa_btn:hover{
                transition: .3s;
                opacity: .5;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;
            }
        }
    }
}

// Single page
div#event_page {
    padding: 30px 12px;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 30px;
    .cfa_alert {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 10px;
        margin: 20px 0;
        background-color: #dcdcdc;
        p {
            margin: 0;
            padding: 0;
            font-weight: 500;
            color: #4d4d4d;
        }
    }

    h1.head1 {
        font-weight: var(--cfa_single_title_font_weight);
        font-size: var(--cfa_single_title_font_size);
        margin: 0;
        padding-bottom: 5px;
        color: var(--cfa_title_color);
    }
    p.event__date {
        color: var(--cfa_date_color);
        font-size: var(--cfa_date_font_size);
        font-weight: var(--cfa_date_font_weight);
        margin: 0;
    }
    .event_thumbnail {
        margin-top: 30px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .event_contents {
        margin-top: 30px;
        margin-bottom: 30px;
        p{
            margin: 0;
            font-size: var(--cfa_content_font_size);
            line-height: 26px;
            color: var(--cfa_content_text_color);
            font-weight: var(--cfa_content_font_weight);
        }
        div{
            margin: 0;
            font-size: var(--cfa_content_font_size);
            line-height: 26px; 
            color: var(--cfa_content_text_color);
            font-weight: var(--cfa_content_font_weight);
        }
    }
    .information_box {
        padding: 12px 0;
        border-top: 1px solid #afafaf;
        border-bottom: 1px solid #afafaf;
        margin: 50px 0;
        .location{
            a{
                text-decoration: underline;
            }
        }
        p{
            margin: 0;
            line-height: 28px;
            padding: 0;
            strong{
                color: #000;
            }
        }
        .calendars {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            span.calendar_icon {
                display: inline-block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: #8FD9F9;
                vertical-align: baseline;
                text-align: center;
                line-height: 43px;
            }
            a{
                text-decoration: underline;
            }
        }
    }
    .event_registration_form {
        margin-top: 30px;
        background-color: #8FD9F9;
        padding: 30px 30px 55px;
        h3.head3 {
            font-size: 26px;
            strong{
                font-weight: 900;
            }
        }
        @media only screen and (max-width: 768px) {
            padding: 30px;
        }
        form{
            text-align: right;
            .reg_inputs {
                padding: 20px 0 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
                grid-gap: 20px;
                @media only screen and (max-width: 768px) {
                    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
                }
                input{
                    all: unset;
                    text-align: left;
                    padding: 5px 10px;
                    height: auto;
                    border-radius: 0;
                    background: transparent;
                    color: #000;
                    border: 2px solid #000;
                    font-size: 16px;
                    height: 26px;
                }
                input::placeholder{
                    color: #00000090;
                }
                input:-webkit-autofill,
                input:-webkit-autofill:focus {
                    transition: background-color 600000s 0s, color 600000s 0s;
                }
                input.event-join-btn {
                    background-color: #3E3F94;
                    padding: 5px 20px;
                    color: #fff;
                    cursor: pointer;
                    border: none;
                    border-radius: 0px;
                    height: auto;
                }
                input.event-join-btn:hover{
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;
                    opacity: .5;
                }
                input:disabled {
                    opacity: 0.5 !important;
                    pointer-events: none;
                }
            }
        }

        .submission-alert{
            p{
                margin: 0;
                padding: 0;
                font-size: 14px;
            }
        }
    }
}

.noupcommingevents_found {
    padding: 50px;
    text-align: center;
    .cfa_alert.dangerAlert {
        display: inline-flex;
        width: fit-content;
        text-align: left;
        gap: 10px;
        padding: 5px 12px;
        background-color: #8FD9F9;
        min-width: 36%;
        svg{
            margin-top: 3px;
        }
        .alert-contents p {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
    }
}