#cfa_events h3.head3 {
  padding: 20px 0px;
  font-size: 28px;
}
#cfa_events .latest_events {
  margin-bottom: 50px;
}
#cfa_events .previous_events .years_filter {
  margin-bottom: 50px;
}
#cfa_events .previous_events .years_filter .years_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}
#cfa_events .previous_events .years_filter .years_btns span.yrbtn {
  padding: 5px 20px;
  border-radius: 2px;
  background: var(--cfa_static_color);
  color: var(--cfa_static_text_color);
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}
#cfa_events .previous_events .years_filter .years_btns span.yrbtn.cfaActive {
  background-color: var(--cfa_selected_color) !important;
  color: var(--cfa_selected_text_color) !important;
}
#cfa_events .previous_events .years_filter .years_btns span.yrbtn:hover {
  transition: 500ms;
  background-color: var(--cfa_selected_color);
  color: var(--cfa_selected_text_color);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
#cfa_events .previous_events .loadmore_box {
  padding: 50px 0px;
  text-align: center;
}
#cfa_events .previous_events .loadmore_box button.loadmore_events {
  all: unset;
  background-color: var(--cfa_static_color);
  border-radius: 0;
  color: var(--cfa_static_text_color);
  padding: 10px 20px;
  text-decoration: none;
  font-style: normal;
  border: none;
  cursor: pointer;
}
#cfa_events .previous_events .loadmore_box button.loadmore_events:hover {
  transition: 0.3s;
  background-color: var(--cfa_selected_color);
  color: var(--cfa_selected_text_color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#cfa_events .cfaLoader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  z-index: 999999;
}

.events_wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.events_wrapper .event_card {
  background: #fff;
  -webkit-box-shadow: 1px 1px 4px -1px black;
  box-shadow: 1px 1px 4px -1px black;
  height: -webkit-auto;
  height: -moz-auto;
  height: auto;
  position: relative;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(33% - 11px);
}
@media only screen and (max-width: 768px) {
  .events_wrapper .event_card {
    width: calc(50% - 11px);
  }
}
@media only screen and (max-width: 480px) {
  .events_wrapper .event_card {
    width: 100%;
  }
}
.events_wrapper .event_card .event_thumbnail {
  display: flex;
  max-height: 250px !important;
  overflow: hidden;
}
.events_wrapper .event_card .event_thumbnail img {
  min-width: 100%;
  aspect-ratio: 4/3;
}
.events_wrapper .event_card .event_contents {
  padding: 30px;
  margin-bottom: auto;
}
.events_wrapper .event_card .event_contents h4.event__title {
  font-weight: var(--cfa_card_title_font_weight);
  font-size: var(--cfa_card_title_font_size);
  line-height: 22px;
  padding-bottom: 5px;
  color: var(--cfa_title_color);
}
.events_wrapper .event_card .event_contents p.event__date {
  font-size: var(--cfa_date_font_size);
  font-weight: var(--cfa_date_font_weight);
  color: var(--cfa_date_color);
  margin-bottom: 15px;
  padding: 0;
}
.events_wrapper .event_card .event_contents p.event_excerpt {
  margin: 0;
  font-size: var(--cfa_content_font_size);
  line-height: 22px;
  color: var(--cfa_content_text_color);
  font-weight: var(--cfa_content_font_weight);
}
.events_wrapper .event_card .seemore_btn_box {
  padding: 0 30px 30px;
  text-align: center;
}
.events_wrapper .event_card .seemore_btn_box a.cfa_btn {
  background-color: var(--cfa_static_color);
  border-radius: 0;
  color: var(--cfa_static_text_color);
  padding: 10px 20px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
}
.events_wrapper .event_card .seemore_btn_box a.cfa_btn:hover {
  transition: 0.3s;
  background-color: var(--cfa_selected_color);
  color: var(--cfa_selected_text_color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

div#event_page {
  padding: 30px 12px;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 30px;
}
div#event_page .cfa_alert {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  margin: 20px 0;
  background-color: #dcdcdc;
}
div#event_page .cfa_alert p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #4d4d4d;
}
div#event_page h1.head1 {
  font-weight: var(--cfa_single_title_font_weight);
  font-size: var(--cfa_single_title_font_size);
  margin: 0;
  padding-bottom: 5px;
  color: var(--cfa_title_color);
}
div#event_page p.event__date {
  color: var(--cfa_date_color);
  font-size: var(--cfa_date_font_size);
  font-weight: var(--cfa_date_font_weight);
  margin: 0;
}
div#event_page .event_thumbnail {
  margin-top: 30px;
  width: 100%;
}
div#event_page .event_thumbnail img {
  width: 100%;
}
div#event_page .event_contents {
  margin-top: 30px;
  margin-bottom: 30px;
}
div#event_page .event_contents p {
  margin: 0;
  font-size: var(--cfa_content_font_size);
  line-height: 26px;
  color: var(--cfa_content_text_color);
  font-weight: var(--cfa_content_font_weight);
}
div#event_page .event_contents div {
  margin: 0;
  font-size: var(--cfa_content_font_size);
  line-height: 26px;
  color: var(--cfa_content_text_color);
  font-weight: var(--cfa_content_font_weight);
}
div#event_page .information_box {
  padding: 12px 0;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  margin: 50px 0;
}
div#event_page .information_box .location a {
  text-decoration: underline;
}
div#event_page .information_box p {
  margin: 0;
  line-height: 28px;
  padding: 0;
}
div#event_page .information_box p strong {
  color: #000;
}
div#event_page .information_box .calendars {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
div#event_page .information_box .calendars span.calendar_icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #8FD9F9;
  vertical-align: baseline;
  text-align: center;
  line-height: 43px;
}
div#event_page .information_box .calendars a {
  text-decoration: underline;
}
div#event_page .event_registration_form {
  margin-top: 30px;
  background-color: #8FD9F9;
  padding: 30px;
}
div#event_page .event_registration_form h3.head3 {
  font-size: 26px;
}
div#event_page .event_registration_form h3.head3 strong {
  font-weight: 900;
}
div#event_page .event_registration_form form {
  text-align: right;
}
div#event_page .event_registration_form form .reg_inputs {
  padding: 30px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  grid-gap: 20px;
}
div#event_page .event_registration_form form .reg_inputs input {
  all: unset;
  text-align: left;
  padding: 5px 10px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fff;
  color: #7d8994;
  font-size: 16px;
  height: 26px;
}
div#event_page .event_registration_form form .reg_inputs input.event-join-btn {
  background-color: #3E3F94;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  height: auto;
}
div#event_page .event_registration_form form .reg_inputs input.event-join-btn:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: transparent;
  color: #3E3F94;
}
div#event_page .event_registration_form form .reg_inputs input:disabled {
  opacity: 0.5 !important;
  pointer-events: none;
}
div#event_page .event_registration_form .submission-alert p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.noupcommingevents_found {
  padding: 50px;
  text-align: center;
}
.noupcommingevents_found .cfa_alert.dangerAlert {
  display: inline-flex;
  width: fit-content;
  text-align: left;
  gap: 10px;
  padding: 5px 12px;
  background-color: #8FD9F9;
  min-width: 36%;
}
.noupcommingevents_found .cfa_alert.dangerAlert svg {
  margin-top: 3px;
}
.noupcommingevents_found .cfa_alert.dangerAlert .alert-contents p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}